<ui-view>
    <!-- Shows receipt of bets made -->
    <div id="betslip" class="betting-container" ng-show="betsMade.length > 0">
        <h3>Bet receipt</h3>
        <br>
        <div ng-repeat="bet in betsMade" class="individual-bet-border">
            <br>
            <div class="row">
                <p ng-bind="bet.event + ' - ' + bet.name"></p>
            </div>
            <br>
            <div class="row" style="">
                <div class="col-sm-12 col-xs-12">
                    <span>&pound;{{bet.stake}}</span>
                    <span ng-bind="'@ ' + getOdds(bet) + ' could return:'"></span>
                    <br>
                    <p style="display: inline-block"><b>&pound;{{getPossibleReturnForBet(bet)}}</b></p>
                </div>
                <br>
                <br>
                <p>Bet placed</p>
                <div ng-if="bet.transaction_id">
                    <p ng-bind="'Your reference: ' + bet.transaction_id"></p>
                </div>
            </div>
        </div>
        <br>
        <a ui-sref="availableBets">
            <button class="btn btn-primary">Place another bet</button>
        </a>
        <br>
    </div>
</ui-view>
